llama-index-core
llama-index-vector-stores-qdrant
llama-index-embeddings-ollama
llama-index-embeddings-openai
llama-index-llms-openrouter
llama-index-llms-openai
llama-index-llms-ollama
llama-index-readers-file
qdrant-client
pydantic-settings
python-dotenv
streamlit
fastapi
uvicorn
